<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Julio Ramos</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="headerHome">
        <div class="boxIntroduction">
            <div class="introduction">
                <h1 class="sobre">Olá me chamo <p1 class="name">Julio ramos,</p1> 
                  te convido a explorar meu portifilio e descobrir algumas das minhas habilidades.
                </h1>
            </div>
        </div>
       
    </header>

        <div class="logoHabilidades"> <img src="~/imgs/NET_Core_Logo.svg.png"/>
                                  <img src="~/imgs/aspnet.png"/>
                                  <img src="~/imgs/logocsharp-transformed.png"/>
        </div>
    
</body>
</html>