<header>
    <div class="containertitle">
        <h1> AQUI ESTÁ ALGUNS DOS MEUS TRABALHOS</h1>
    </div>
</header>

<div class="conteinerProjetos">
    
    <div class="projetos"> <a href="https://www.youtube.com/"> <img src="~/imgs/fundopag.jpg"> </a> </div>
    <div class="projetos"> <a href="https://www.youtube.com/"> <img src="~/imgs/fundopag.jpg"> </a> </div>
    <div class="projetos"> <a href="https://www.youtube.com/"> <img src="~/imgs/fundopag.jpg"> </a> </div>
    <div class="projetos"> <a href="https://www.youtube.com/"> <img src="~/imgs/fundopag.jpg"> </a> </div>
    <div class="projetos"> <a href="https://www.youtube.com/"> <img src="~/imgs/fundopag.jpg"> </a> </div>
    <div class="projetos"> <a href="https://www.youtube.com/"> <img src="~/imgs/fundopag.jpg"> </a> </div>

</div>
