
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Julio Ramos</title>
    
</head>
<body>
    <div class="primary-projetos">
    <header>
        <div class="containertitle">
            <h1> </h1>
        </div>
    </header>
    
            <div class="conteinerProjetos">
                <div class="projetos">
                    <div class="title-projs">Em Desenvolvimento</div>
                <div class="projeto"> <a href="https://www.youtube.com/"> <img src="~/imgs/engrenagem.png"> </a> </div>
                </div>

            <div class="projetos">
                <div class="title-projs">Em Desenvolvimento</div>
                <div class="projeto"> <a href="https://www.youtube.com/"> <img src="~/imgs/engrenagem.png"> </a> </div>
            </div>

            <div class="projetos">
                <div class="title-projs">Em Desenvolvimento</div>
                <div class="projeto"> <a href="https://www.youtube.com/"> <img src="~/imgs/engrenagem.png"> </a> </div>
            </div>

            <div class="projetos">
                <div class="title-projs">Em Desenvolvimento</div>
                <div class="projeto"> <a href="https://www.youtube.com/"> <img src="~/imgs/engrenagem.png"> </a> </div>
            </div>

            </div>
    </div>
</body>
</html>