<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Julio Ramos</title>
    
</head>
<body>
    <div class="boxformacao">
        <div class="formacao"><p class="descricaoformacao">
                Cursando: Analise e Desenvolvimento de Sistemas<br /><br />
                Previsão de termino: Dezembro 2024.
            </p>
        </div>
        <div class="formacao">
            <p class="descricaoHabilidades">
                <img src="~/imgs/NET_Core_Logo.svg.png"/>
                <img src="~/imgs/logocsharp-transformed.png"/>
                <img src="~/imgs/aspnet.png"/>
            </p>
        </div>
    </div>
</body>
</html>
